/*********************************************************Index Page***********************************************/
body{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,233,252,1) 100%);
}
#login_body{
    text-align: center;
    font-family: sans-serif;
}
#login_body header h1{
    font-size: 100px;
      border: 1px solid #3f51b54d;
      padding: 30px;
      height: 100px;
      color: #fff;
      font-weight: 500;
      padding-left: 50px;
      text-align: center;
}
#first{
    font-size: 30px;
      border: 1px solid #fff;
      padding: 30px;
      height: 300px;
      color: #fff;
      font-weight: 500;
      padding-left: 50px;
}

#b1{
     /*height: 80px;
    width: 400px;*/
    border: 1px solid #34ca73;
    border-radius: 10px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

#b1:active{
    transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

#b1{
    background-color: #34ca73;
  box-shadow: 0px 5px 0px 0px #15B358;
}

#b1:hover {
  background-color: #48E68B;
}
#second{
    font-size: 30px;
      border: 1px solid #3f51b54d;
      padding: 30px;
      height: 300px;
      color: #fff;
      font-weight: 500;
      padding-left: 50px;
      text-align: center;
}
input{
    margin: 20px;
    height: 50px;
    width: 400px;
    background-color: #3f51b5;
}
  
#b2{
    height: 50px;
    width: 400px;
    border: 1px solid #55acee;
    border-radius: 10px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}
#b2{
    background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}
#b2:hover{
  background-color: #6FC6FF;
}

footer{
   
    font-size: 20px;
    padding: 30px;
    color: #fff;
      font-weight: 500;
}


/*********************************************************Dashboard Page***********************************************/

/**********************Header Part*******************/
.dashboard h1{
    letter-spacing: 3px;
    padding-left: 20px;
}
.navbar{
    float: right;
}
.buttons{
    border: 1px thin #34ca73;
    height: 20px;
    border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  margin: 2px;
  color: #fff;
  position: relative;
  display: inline-block;  
    font-weight: bold;
}
#dash-head{
      border: 1px solid #3f51b54d;
      height: 50px;
      color: #fff;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  padding: 10px;
    overflow: hidden;
}
.numbers1,.numbers3,.numbers5,.numbers7{
    font-size: 40px;
}
.grid-container > div {
  text-align: center;
  padding: 0 8px;
    
}

#as1{
    height: 200px;
    width: 50%;
    float:right;
}
.numbers2,.numbers4,.numbers6,.numbers8{
    font-size: 25px;
}
#article1{
    font-size:80px;
    color: white;
    float: left;
    width: 50%;
    
}
.numbers1{
    color:hotpink;
}
.numbers3{
    color:darkcyan;
}
.numbers5, .numbers7{
    color: blueviolet;
}

.numbers2,.numbers4,.numbers6,.numbers8{
    color: white;
}
/**********************Main Part*******************/
#two-dash{
    clear: both;
}


#as2{
    border: 1px solid #3f51b54d;
      margin: 10px 10px 10px 60px;
    padding: 30px;
      height: 900px;
    width: 25%;
      color: #fff;
      font-weight: 200;
      text-align: right;
    float: left;  
     border-radius: 20px;
}
#as2 h2{
    font-size: 60px;
}
#main1, #main2{
     font-size: 30px;
}
#main2{
    color:hotpink;
    font-weight: bold;
    
}
#main3{
    border: 1px solid #3f51b54d;
    background-color:hotpink;
    height: 50px;
    margin: 20px;
    font-size: 30px;
     letter-spacing: 3px;
    padding: 20px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
}
#main4{
    border: 1px solid #3f51b54d;
      height: 100px;
    letter-spacing: 3px;
    margin: 20px;
    padding: 20px 0px 10px 20px;
    text-align: center;
      color: #fff;
      text-align: left; 
     border-radius: 20px;
}
.buttons4{
    border: 1px thin #34ca73;
    height: 30px;
    width: 100px;
    padding: 20px 10px 10px 10px;
  font-size: 23px;
    font-weight: bold;
  text-decoration: none;
  margin: 6px;
  color: #fff;
  position: relative;
    text-align: center;
  display: inline-block;  
    background-color: blue;
    float:right;
}
#main5 .buttons4{
    border: 1px thin #34ca73;
    height: 30px;
    width: 145px;
    padding: 20px 10px 10px 10px;
  font-size: 23px;
    font-weight: bold;
  text-decoration: none;
  margin: 6px;
  color: #fff;
  position: relative;
    text-align: center;
  display: inline-block;  
    background-color: blue;
    float:right;
}
#main5{
    border: 1px solid #3f51b54d;
      height: 100px;
      letter-spacing: 3px;
    margin: 60px 20px 10px; 0px;
    padding: 20px 0px 10px 20px;
    text-align: center;
      color: #fff;
      text-align: left; 
     border-radius: 20px;
}
#main4 h3, #main5 h3{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}
#main4 p, #main5 p{
    font-size: 23px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}


#article2{
    border: 1px solid #3f51b54d;
    padding: 30px;
    margin-right: 60px;
      height: 600px;
    width: 48%;
      color: #fff;
      font-weight: 200;
    text-align: center;
    float: right; 
     border-radius: 20px;
}
#article2 h2{
    text-align: left;
    font-size: 60px;
    letter-spacing: 3px;
}

.buttons2{
    border: 1px thin #34ca73;
    height: 50px;
    width: 9%;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
  font-size: 23px;
    font-weight: bold;
  text-decoration: none;
  margin: 6px;
  color: #fff;
  position: relative;
    text-align: center;
  display: inline-block;  
    background-color: blue;
}
.buttons3{
    border: 1px thin #34ca73;
    height: 50px;
    width: 9%;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
  font-size: 23px;
    font-weight: bold;
  text-decoration: none;
  margin: 6px;
  color: #fff;
  position: relative;
    text-align: center;
  display: inline-block;  
    background-color: blue;
}
#buttons3{
    margin-top: 200px;
    
}


#as3{
    border: 1px solid #3f51b54d;
      margin: 10px 10px 10px 60px;
    padding: 30px;
      height: 300px;
    width: 25%;
      color: #fff;
    letter-spacing: 3px;
      font-weight: 100;
    float: left;  
     border-radius: 20px;
}
#as3 h2{
    font-size: 30px;
    text-align: left;
}
#as3{clear: both}





















